body {
    font-family: 'Roboto', sans-serif;
}

#navigation {
    background-color: #85555d;
}

#inbox {
    background-color: #DDD;
}

/* .text-container button {
    position: absolute;
    bottom: 15px;
    right: 10px;
} */